<h2>Books</h2>
 <table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
      <% @books.each do |book| %>
  <tbody>
    <tr>
      <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></tb>

      <td><%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
      </td>
      <td><%= book.body %></td>
      <% end %>
    </tr>
    </tbody>
  </table>
